[Unit]
Description=SmarterSpaceBrain

[Service]
ExecStart=/bin/bash -c 'cd /home/spb/spb/core ; bin/python /home/spb/spb/core/Brain_API.py > /home/spb/workdir/spb_logs.txt'
User=spb

[Install]
WantedBy=multi-user.target